<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="D:\home\Python311\python.exe"
                  arguments="D:\home\site\wwwroot\startup.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\python.log"
                  startupTimeLimit="60"
                  startupRetryCount="3">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="FLASK_ENV" value="production" />
        <environmentVariable name="WEBSITE_HOSTNAME" value="%WEBSITE_HOSTNAME%" />
      </environmentVariables>
    </httpPlatform>
    
    <!-- Configurações para servir arquivos estáticos -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
    <!-- Configurações de reescrita para SPA -->
    <rewrite>
      <rules>
        <!-- Regra para API -->
        <rule name="API Routes" stopProcessing="true">
          <match url="^api/.*" />
          <action type="None" />
        </rule>
        
        <!-- Regra para arquivos estáticos -->
        <rule name="Static Files" stopProcessing="true">
          <match url="^(assets|static)/.*" />
          <action type="None" />
        </rule>
        
        <!-- Regra para SPA - redirecionar para index.html -->
        <rule name="SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/static/index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configurações de segurança -->
    <httpErrors errorMode="Detailed" />
    <defaultDocument>
      <files>
        <clear />
        <add value="startup.py" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>

